[submodule "gemoji"]
	path = gemoji
	url = https://github.com/github/gemoji.git
[submodule "app/static/common/gitignore"]
	path = app/static/common/gitignore
	url = https://github.com/github/gitignore.git
[submodule "app/static/common/choosealicense.com"]
	path = app/static/common/choosealicense.com
	url = https://github.com/github/choosealicense.com.git
[submodule "vendor/lowlevel-computer-use-mcp"]
	path = vendor/lowlevel-computer-use-mcp
	url = https://github.com/codingmachineedge/lowlevel-computer-use-mcp.git
